{% extends 'layout.njk' %}

{% block content %}
    <div class="card">
        <div class="avatar" style="background: url({{ student.avatar_url}}) no-repeat center center"></div>
        <div class="detalhes">
            <h3>Detalhes</h3>
            <div class="item">
                <div>Nome completo</div>
                <div>{{ student.name }}</div>
            </div>

            <div class="item">
                <div>Email</div>
                <div>{{ student.email }}</div>
            </div>

            <div class="item">
                <div>Aniversário</div>
                <div>{{ student.birth}}</div>
            </div>

            <div class="item">
                <div>Ano Escolar</div>
                <div>
                    {{ student.selectYear }}
                </div>
            </div>

                   <div class="item">
                <div>Carga Horária Semanal</div>
                <div>
                    {{ student.weeklySchedule }}
                </div>
            </div>

            <a href="/students/{{student.id}}/edit">
                <button class="editar">Editar</button>
            </a>
        </div>
    </div>
{% endblock content %}