@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Helvetica, sans-serif;
    background-color: #3d3d3d;
}

h1,
h2,
h3 {
    color: #fff;
}

header {
    width: 100%;
    padding: 20px;
    background-color: #4b4b4b;
    text-align: center;
}

header .links a {
    text-decoration: none;
    position: relative;
    color: #fff;
}

header .links a:hover {
    color: #32ff7e;
}

header .links a+a {
    margin-left: 15px;
}

header .links a.active {
    font-weight: bold;
    color: #32ff7e;
}

header .links a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #32ff7e;
    position: absolute;
    right: 0;
    bottom: -4px;
}

header .links a:hover::after {
    width: 100%;
    transition: width 300ms ease-in-out;
}

.new {
    float: right;
    height: 36px;
    width: auto;
    padding: 8px 32px;
    background-color: #3d3d3d;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: .4s;
    margin-bottom: 16px;
}

.new:hover {
    background-color: #0f0f0f;
    color: #fff;
}


.table-container, .card {
    width: 800px;
    min-height: 500px;
    background-color: #ffffff;
    margin: 30px auto 30px auto;
    display: grid;
    grid-template-columns: 40% 60%;
    box-shadow: 2px 2px 2px 1px rgba(8, 8, 8, 0.2);
    animation: up 200ms ease-in-out;
}

.avatar {
    background-size: auto 100%; 
    background-position: center center;
    background-repeat: no-repeat;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
    }
}

.card .detalhes {
    padding: 32px;
}

.detalhes h3 {
    font-size: 24px;
    color: #3d3d3d;
    padding: 5px 0;
    margin-bottom: 16px;
    border-bottom: 1px solid #4b4b4b;
}

.detalhes .item {
    border-top: 1px solid #e7e6e6;
    padding: 8px 0;
}

.detalhes .item:first-of-type {
    border: none;
}

.detalhes .item div:nth-child(1) {
    color: #3d3d3d;
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .8px;
}

.detalhes .item div:nth-child(2) {
    color: #3d3d3d;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}

.detalhes .item span {
    background-color: #32ff7e;
    padding: 7px 15px;
    border-radius: 20px;
    margin: 10px 5px 0 0;
    display: inline-block;
    color: #4b4b4b;
    font-weight: bold;
    font-size: 14px;
}

.detalhes .item select {
    margin-bottom: 16px;
}


/* form */

.detalhes input {
    width: 100%;
    padding: 8px 0;
    border: none;
    outline: none;
    color: #3d3d3d;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
}

.detalhes input::placeholder {
    font-size: 14px;
    font-weight: normal;
}

.detalhes input[type="radio"] {
    width: initial;
    margin-right: 5px;
}

.detalhes .editar {
    width: 100%;
    padding: 16px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    background-color: #6b6b6a;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.detalhes button[type="submit"] {
    width: 49%;
    padding: 16px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    background-color: #6b6b6a;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

#form-delete {
    position: relative;
}

#form-delete button[type="submit"] {
    margin-top: 8px;
    background-color: lightcoral;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -60px;
}

/* Table index*/
.table-container {
    display: block;
    padding: 20px 40px;
}

.table-container table {
    border-spacing: 0;
}

.table-container thead tr th {
    text-align: left;
}

.titlePage {
    font-size: 20px;
    font-weight: bold;
    padding: 16px 0;
}

td,
th {
    padding: 16px;
    border-bottom: 1px solid #d9d9d9;
}

tbody tr:last-child td {
    border: none;
}

tbody tr td:first-child {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

tbody tr td:first-child span {
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px;
    border: 2px solid white;
}

thead tr th {
    font-size: 14px;
    text-transform: uppercase;
    color: #777;
}

tbody tr td:last-child a {
    background-color: #777;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 12px;
    transition: .3s;
}

.table-container thead tr th:last-child,
td:last-child {
    text-align: center;
}

tbody tr td:last-child a:last-child:hover {
    background-color: #32ff7e;
    color: #555;
    font-weight: bold;
}

tbody tr td:nth-child(2) span {
    background-color: #32ff7e;
    padding: 8px 16px;
    border-radius: 5px;
    color: #555;
    font-size: 14px;
}

/*Filters*/
.table-container .header form input {
    padding: 8px 8px;
    border-radius: 4px;
    border: 1px solid #eee;
    width: 200px;
    margin: 0 8px 0 0;
}

.table-container .header form input:focus {
    outline: none;
}

.table-container .header form button {
    background-color: #777;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    font-size: 12px;
    transition: .3s;
}

.table-container .header form button:hover {
    background-color: #0f0f0f;
}

.table-container {
    display: grid;
    grid-template: 64px 1fr 24px / 1fr;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
}

.pagination a,
.pagination span {
    color: #3d3d3d;
    text-decoration: none;
    margin-right: 12px;
    transition: .2s;
}

.pagination a:hover {
    color: #32ff7e;
    font-weight: 600;
    border-bottom: 1px solid #32ff7e;
}