<div class="item">
    <div>Avatar URL</div>
    <input type="url" name="avatar_url" placeholder="http://" value="{{ student.avatar_url }}">
</div>

<div class="item">
    <div>Nome completo</div>
    <input type="text" name="name" value="{{ student.name }}">
</div>

<div class="item">
    <div>Email</div>
    <input type="email" name="email" value="{{ student.email }}">
</div>

<div class="item">
    <div>Data de nascimento</div>
    <input type="date" name="birth_date" value="{{ student.birth_date }}">
</div>

<div class="item">
    <div>Ano Escolar</div>
    <select name="education_level">
        <option value="5s" {% if student.education_level == "5s"%} selected="selected" {% endif %}>5º Série do ensino fundamental</option>
        <option value="6s" {% if student.education_level == "6s"%} seected="selected" {% endif %}>6º Série do ensino fundamental</option>
        <option value="7s" {% if student.education_level == "7s"%} selected="selected" {% endif %}>7º Série do ensino fundamental</option>
        <option value="8s" {% if student.education_level == "8s"%} selected="selected" {% endif %}>8º Série do ensino fundamental</option>
        <option value="1a" {% if student.education_level == "1a"%} selected="selected" {% endif %}>1º Ano do ensino médio</option>
        <option value="2a" {% if student.education_level == "2a"%} selected="selected" {% endif %}>2º Ano do ensino médio</option>
        <option value="3a" {% if student.education_level == "3a"%} selected="selected" {% endif %}>3º Ano do ensino médio</option>
    </select>
</div>

<div class="item">
    <div>Carga horária semanal</div>
    <input type="number" name="hours" value="{{ student.hours }}">
</div>

<div class="item">
    <div>Professor</div>
    <select name="teacher">
        {%for teacher in teacherOptions%}
            <option value="{{ teacher.id }}" {%if student.teacher_id == teacher.id %} selected{% endif%}>{{teacher.name}}</option>
        {%endfor%}
    </select>
</div>