<div class="item">
    <div>Avatar URL</div>
    <input type="url" name="avatar_url" placeholder="http://" value="{{ teacher.avatar_url }}"> 
</div>

<div class="item">
    <div>Nome completo</div>
    <input type="text" name="name" placeholder="Digite o nome do professor" value="{{ teacher.name }}">
</div>

<div class="item">
    <div>Data de nascimento</div>
    <input type="date" name="birth_date" value="{{ teacher.birth_date }}">
</div>

<div class="item">
    <div>Grau de escolaridade</div>
    <select name="education_level">
        <option value="medio" {% if teacher.education_level == "medio"%} selected="selected" {% endif %}>Ensino médio completo</option>
        <option value="superior" {% if teacher.education_level == "superior"%} selected="selected" {% endif %}>Ensino superior completo</option>
        <option value="mestrado" {% if teacher.education_level == "mestrado"%} selected="selected" {% endif %}>Mestrado</option>
        <option value="doutorado" {% if teacher.education_level == "doutorado"%} selected="selected" {% endif %}>Doutorado</option>
    </select>
</div>

<div class="item">
    <div>Tipo de aula</div>
    <span><input type="radio" name="class_type" value="presencial"
    {% if teacher.class_type == "presencial" %} checked="checked" {% endif %} checked >Presencial</span>
    <span><input type="radio" name="class_type" value="distância"
    {% if teacher.class_type == "distância" %} checked="checked"  {% endif %}>Distância</span>
</div>

<div class="item">
    <div>Área de atuação</div>
    <input type="text" name="subjects_taught" placeholder="Digite as áreas de atuação" value="{{ teacher.subjects_taught }}">
</div>
