{% extends 'layout.njk' %}

{% block content %}
<h1 class="pageTitle">Lista de professores</h1>
<div class="table-container">
<div class="header">
<a href="teachers/register"><button class="new">Novo</button></a>
<form action="/teachers" mehotd="GET">
    <input type="text" name="filter" placeholder="Nome ou matéria" value="{{filter}}">
    <button type="submit">Filtrar</button>
</form>
</div>
        <table width="100%">
            <thead>
                <tr>
                    <th>Professor</th>
                    <th>Acompanhamento</th>
                    <th>Alunos</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
            {% for teacher in teachers %}
            <tr>
                <td>
                    <span style="background-image: url( {{ teacher.avatar_url }} )"></span>
                    {{ teacher.name }}</td>
                <td>
              {% for atuacao in teacher.subjects_taught %}
                        <span>{{ atuacao }}</span>
                    {% endfor %}
                </td>

                <td>{{ teacher.total_students }}</td>
                <td><a href="/teachers/{{ teacher.id }}">Ver</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="pagination"
            data-page={{pagination.page}}
            data-total={{pagination.total}}
            data-filter={{filter}}
        ></div>
</div>
{% endblock content %}