{% extends 'layout.njk' %}

{% block content %}
<div class="card table-container">
<span class="titlePage">Cadastro de Professores</span>
<a href="teachers/register"><button class="new">Novo</button></a>
        <table width="100%">
            <thead>
                <tr>
                    <th>Instrutor</th>
                    <th>Acompanhamento</th>
                    <th>Alunos</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
            {% for teacher in teachers %}
            <tr>
                <td>
                    <span style="background-image: url( {{ teacher.avatar_url }} )"></span>
                    {{ teacher.name }}</td>
                <td>
              {% for atuacao in teacher.subjects_taught %}
                        <span>{{ atuacao }}</span>
                    {% endfor %}
                </td>
                <td><a href="/teachers/{{ teacher.id }}">Ver</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
{% endblock content %}