{% extends 'layout.njk' %}

{% block content %}
    <div class="card">
        <div class="avatar" style="background: url({{ teacher.avatar_url}}) no-repeat center center"></div>
        <div class="detalhes">
            <h3>Editar Professor</h3>
            {% include 'teachers/fields.njk'%}
        </div>
    </div>
{% endblock content %}