{% extends 'layout.njk' %}

{% block content %}
    <form class="card" method="POST" action="/teachers">
        <div class="avatar"></div>
        <div class="detalhes">
            <h3>Cadastrar novo professor</h3>

            <div class="item">
                <div>Avatar URL</div>
                <input type="url" name="avatar_url" placeholder="http://">
            </div>

            <div class="item">
                <div>Nome completo</div>
                <input type="text" name="name" placeholder="Digite o nome do professor">
            </div>

            <div class="item">
                <div>Data de nascimento</div>
                <input type="date" name="birth">
            </div>

            <div class="item">
                <div>Grau de escolaridade</div>
                <select name="selectEducation">
                    <option value="medio" {% if teachers.selectEducation == "medio"%} selected="selected" {% endif %}>Ensino médio completo</option>
                    <option value="superior" {% if teachers.selectEducation == "superior"%} selected="selected" {% endif %}>Ensino superior completo</option>
                    <option value="mestrado" {% if teachers.selectEducation == "mestrado"%} selected="selected" {% endif %}>Mestrado</option>
                    <option value="doutorado" {% if teachers.selectEducation == "doutorado"%} selected="selected" {% endif %}>Doutorado</option>
                </select>
            </div>

            <div class="item">
                <div>Tipo de aula</div>
                <span><input type="radio" name="typeAula" value="presencial" checked="checked">Presencial</span>
                <span><input type="radio" name="typeAula" value="distância">Distância</span>
            </div>

            <div class="item">
                <div>Área de atuação</div>
                <input type="text" name="atuacao" placeholder="Digite as áreas de atuação">
            </div>

            <button type="submit">Salvar</button>
        </div>
    </div>
{% endblock content %}