{% extends 'layout.njk' %}

{% block content %}
    <div class="card">
        <div class="avatar"></div>
        <div class="detalhes">
            <h3>Detalhes</h3>
            <div class="item">
                <div>Nome completo</div>
                <div>{{ teacher.name }}</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>{{ teacher.age }}</div>
            </div>

            <div class="item">
                <div>Grau de escolaridade</div>
                <div>
                    {{ teacher.graduation }}
                </div>
            </div>

            <div class="item">
                <div>Tipo de aula</div>
                <div>{{ teacher.typeAula }}</div>
            </div>

            <div class="item">
                <div>Acompanhemento</div>
                <div>
                    {% for atuacoes in teacher.atuacao %}
                        <span>{{ atuacoes }}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="item">
                <div>Desde</div>
                <div>{{ teacher.created_at}}</div>
            </div>

            <button class="editar">Editar</button>
        </div>
    </div>
{% endblock content %}